.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}

.App-footer {
  background-color:rgb(223, 232, 241);
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  font-family: 'Lucida Sans';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
